p.curtir-normal {
  font-size: 2rem;
  filter: grayscale(1);
  cursor: pointer;
  margin-top: 10px;
}

p.curtir-clicado {
  font-size: 2rem;
  filter: grayscale(0);
  cursor: pointer;
  margin-top: 10px;
}
