body {
  overflow-x: hidden;
  background-color: #a28a64;
}

#destinos {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.banner img {
  width: 70%;
}
