body {
  overflow-x: hidden;
  background-color: #a28a64;
}

#destinos {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.banner img {
  width: 70%;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #251508;
}

.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 90%;
}

.container1 {
  font-size: 1.05rem;
  text-align: center;
}

.container1 h2 {
  font-size: 2.25rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.divisao{
  width: 85%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
}

.Campo {
  width: 115%;
  margin-top: -45px;


  background-image: url("../public/Campo.jpg");


  min-height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.AnatomyPark {
  width: 115%;
  margin-top: -45px;


  background-image: url("../public/ricks.jpg");

  min-height: 500px;


  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.OOO {
  width: 115%;
  margin-top: -45px;


  background-image: url("../public/ooo.jpg");


  min-height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Reino {
  width: 115%;
  margin-top: -45px;

  background-image: url("../public/terramedia2.png");

  min-height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Cabana {
  width: 115%;
  margin-top: -45px;

  background-image: url("../public/Cabana.jpg");


  min-height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax {
  height: 400px; 
  overflow: hidden;
  position: relative;
}

.parallax img {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
  transform: translate(-50%, -50%);
  will-change: transform;
  transition: transform 0.5s ease;
}

.parallax-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white; 
}